{
  "openapi": "3.0.4",
  "info": {
    "title": "IFSPortal XREF API",
    "description": "API for retrieving XREF mappings from Azure SQL DB via Apigee using Basic Authentication.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api-development.exeloncorp.com",
      "description": "Development server"
    }
  ],
  "tags": [
    {
      "name": "XREF",
      "description": "Operations related to XREF mappings"
    }
  ],
  "paths": {
    "/eu/was/getxref/v1": {
      "post": {
        "tags": ["XREF"],
        "summary": "Get XREF mappings",
        "description": "Retrieve XREF mappings based on SourceValue.",
        "operationId": "getXref",
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/GetXrefRequest"
        },
        "responses": {
          "200": {
            "description": "Successful response - XREF mappings returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetXrefResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BasicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Basic authentication using username and password"
      }
    },
    "requestBodies": {
      "GetXrefRequest": {
        "description": "Request payload to fetch XREF mappings",
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/GetXrefRequest"
            },
            "example": {
              "SourceValue": "WORK-ORDER-NUMBER"
            }
          }
        }
      }
    },
    "schemas": {
      "GetXrefRequest": {
        "type": "object",
        "required": ["SourceValue"],
        "properties": {
          "SourceValue": {
            "type": "string",
            "description": "Source value used to lookup XREF mappings",
            "example": "WORK-ORDER-NUMBER"
          }
        }
      },
      "GetXrefResponse": {
        "type": "array",
        "description": "List of XREF mapping records",
        "items": {
          "$ref": "#/components/schemas/XrefRecord"
        }
      },
      "XrefRecord": {
        "type": "object",
        "required": [
          "ID",
          "Integration",
          "FromSystem",
          "ToSystem",
          "OpCo",
          "ListType",
          "ListName",
          "SourceValue",
          "DestinationValue"
        ],
        "properties": {
          "ID": {
            "type": "string",
            "example": "1"
          },
          "Integration": {
            "type": "string",
            "example": "test"
          },
          "FromSystem": {
            "type": "string",
            "example": "AS8"
          },
          "ToSystem": {
            "type": "string",
            "example": "IFS"
          },
          "OpCo": {
            "type": "string",
            "example": "PHI"
          },
          "ListType": {
            "type": "string",
            "example": "POLE"
          },
          "ListName": {
            "type": "string",
            "example": "ATTRIBUTE"
          },
          "SourceValue": {
            "type": "string",
            "example": "WORK-ORDER-NUMBER"
          },
          "DestinationValue": {
            "type": "string",
            "example": "INSTALL_WO_NUM"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": ["code", "message"],
        "properties": {
          "code": {
            "type": "string",
            "example": "400"
          },
          "message": {
            "type": "string",
            "example": "Invalid request payload"
          }
        }
      }
    }
  }
}
